.about {
  margin: 200px auto;
}
.about img {
  box-shadow: 0px 0px 0px -0px rgba(0, 0, 0, 0),
    inset 0px 0px 0px -0px rgba(0, 0, 0, 0);
}
.about .col-sm-4 div {
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 50px auto;
  color: #000;
}
.about .col-sm-4 div:hover {
  background: var(--main);
  cursor: pointer;
  transform: scale(1.1);
}
.about .col-sm-4 div h6 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px auto;
}
